*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#canvas {
  outline: 5px solid rgb(21, 14, 65);
}

#guide {
  display: none;
}

.guide {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s ease;
  margin-top: 1rem;
}
.guide:hover {
  color: darkgreen;
}

#guide:checked ~ .guide {
  color: darkcyan;
  text-decoration: underline;
}